.heroitems {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
.desc {
  display: flex;
  /* display: none; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--neon-green);
  z-index: 0;
}

.line1,
.line2 {
  font-family: "DM Sans";
}

.line1 {
  font-size: 2.5rem;
  font-weight: 500;
}

.name {
  font-family: "Humane";
  font-weight: 700;
  font-size: 20rem;
  text-align: center;
  line-height: 18rem;
  vertical-align: baseline;
  line-height: 300px;
  margin-bottom: 13px;
  height: 250px;
  word-wrap: nowrap;
  -webkit-font-smooth: antialiased;
  text-rendering: optimizeLegibility;
}

.line2 {
  font-size: 1.3rem;
  font-weight: 500;
  width: 349px;
}

.socials {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
  justify-content: center;
  align-items: center;
}

.linkedinacc,
.githubacc {
  width: 2.5rem;
}
.infinitescroll {
  position: absolute;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  flex-direction: column;
  z-index: -1;
}

@media (max-width: 1025px) {
  .heroitems {
    height: 100vh;
  }
  .infinitescroll {
    min-height: 100vh;
  }
  .name {
    font-size: 15rem;
    line-height: 200px;
    height: 170px;
    margin: 10px 0;
  }
  .line1 {
    font-size: 2rem;
  }
  .line2 {
    font-size: 1rem;
    width: 75%;
  }
  .socials {
    margin-top: 1rem;
  }
  .linkedinacc,
  .githubacc {
    width: 2rem;
  }
  .infinitescroll {
    height: 50rem;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .heroitems {
    height: 100vh;
  }
  .name {
    font-size: 10rem;
    line-height: 150px;
    margin-bottom: 0px;
    height: 140px;
  }
  .line1 {
    font-size: 1.5rem;
  }
  .line2 {
    font-size: 0.6rem;
    width: 75%;
  }
  .socials {
    margin-top: 1rem;
  }
  .linkedinacc,
  .githubacc {
    width: 1rem;
  }
  .infinitescroll {
    height: 30rem;
    justify-content: center;
  }
}
