.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  border-radius: 10px;
  background-color: var(--neon-green);
  color: var(--bg-black);
  padding: 50px 80px;
  text-align: left;
  gap: 20px;
}

.about-heading {
  font-size: 4rem;
  font-family: "Humane";
}

.about-desc {
  font-size: 1.5rem;
  font-family: "DM Sans";
}
.more-about {
  text-decoration: none;
  font-weight: 500;
  color: var(--neon-green);
  padding: 5px 10px;
  border-radius: 5px;
  background-color: var(--dark-blue);
  display: flex;
  margin-left: auto;
}

@media (max-width: 1367px) {
  .about-container {
    align-items: flex-start;
    gap: 10px;
    padding: 40px 60px;
  }
}
@media screen and (max-width: 768px) {
  .about-container {
    margin: 0 1rem;
    padding: 40px 20px;
    align-items: flex-start;
    text-align: left;
    margin: 0;
  }
  .about-heading {
    font-size: 3rem;
    margin-bottom: 0;
  }
  .about-desc {
    font-size: 1rem;
  }
  .more-about {
    font-size: 0.8rem;
  }
}
