.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  border-radius: 10px;
  background-color: var(--neon-green);
  color: var(--bg-black);
  padding: 50px 80px;
  text-align: left;
  gap: 20px;
}

.about-heading {
  font-size: 4rem;
  font-family: "Humane";
}

.about-desc {
  font-size: 1.5rem;
  font-family: "DM Sans";
}

@media (max-width: 1024px) {
  .about-container {
    align-items: flex-start;
    gap: 10px;
  }
}
@media screen and (max-width: 768px) {
  .about-container {
    margin: 0 1rem;
    padding: 40px 20px;
    align-items: flex-start;
    text-align: left;
  }
  .about-heading {
    font-size: 3rem;
    margin-bottom: 0;
  }
  .about-desc {
    font-size: 1rem;
  }
}
