.navbar {
  padding: 30px 0px 30px 0px;
  background-color: var(--bg-black);
}

.navbaritems {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
  width: fit-content;
  gap: 70px;
}
.navbaritems a {
  text-decoration: none;
  color: var(--white);
}

.home,
.about,
.projects,
.contact {
  font-family: "DM Sans";
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
}

@media (max-width: 768px) {
  .navbaritems {
    transition: all 0.5s ease;
    display: none;
  }
}
